

/*ejercicio 8 por lineas*/

.head-1{
    text-align: center;
}

.grid-parent-2 {
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-rows: repeat(5,1fr);
    gap: 2px;
}

.grid-parent-2 > .grid-child-1{
    background-color: rgb(141, 176, 220);
    grid-column: 1 / 6; 
    grid-row: 1;
}

.grid-parent-2 > .grid-child-2{
    background-color:rgb(28, 44, 104);
    grid-column: 3 / 6 ; 
    grid-row: 2 / 4;
  
}

.grid-parent-2 > .grid-child-3{
    background-color:rgb(101, 65, 163);
    grid-column: 1/3; 
    grid-row: 2 / 5;

    
}

.grid-parent-2 > .grid-child-4{
    background-color:rgb(91, 201, 171);
    grid-column: 3 / 6; 
    grid-row: 4;
}

.grid-parent-2 > .grid-child-5{
    background-color:rgb(199, 180, 123);
    grid-column: 1 /6; 
    grid-row:5;
}

